body {
}
.ui-accordion-header{
    background:#E8E8E8;
    border-radius:4px;
    border:none;
    color:#404040;
    
}
.ui-accordion-header:hover{
    color:black;
}
.ui-accordion-header:focus{
    outline:0;
}
.ui-accordion-content{
    border:none;
    background:#F8F8F8;
}
.buttonSaveEdit{
    height:34px;
    width:80px;
    margin:14px 0px 14px;
    border-style:none;
    border-radius:4px;
    background-color:#373737;
    color:white;
    font-size:12pt;   
}
.buttonSaveEdit:active{
    background-color:#808080;
    outline:none;
}
.buttonSaveEdit:focus{
    outline:0;
}
.buttonGenerate{
    height:34px;
    padding-left:14px;
    padding-right:14px;
    margin:10px 0px 10px 14px;
    border-style:none;
    border-radius:4px;
    background-color:#700000;
    color:white;
    font-size:12pt;   
}
.buttonGenerate:active{
    background-color:#808080;
    outline:none;
}
.buttonGenerate:focus{
    outline:0;
}