table { 
border-spacing: 0; 
}

td, th { 
border: 1px solid transparent; 
height: 30px; 
}

th {
background: #C0C0C0;  
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   

tr:nth-child(odd) td { background: #DFDFDF; }  

#ContentPlaceHolder1_adminRecord {
    height:430px;
    width:400px;
    margin: 40px auto;
    background-color:#DCEFFF;
    border-radius:6px;
    text-align:center;
}

#ContentPlaceHolder1_adminRecord > h2{
    
    text-decoration:none;
    color: black;
}

#ContentPlaceHolder1_adminInstruction{
    display:inline-block;
    margin-left:4%;
    margin-top:10px;
    width:100%;
    font-size:12pt;
    font-weight:500;
    color:#373737;
    font-family:Century Gothic, sans-serif;
}

#ContentPlaceHolder1_adminInstruction td{
    background:#DCEFFF;
}

#ContentPlaceHolder1_studentCourse{
    margin-top:10px;
    margin-bottom:10px;
}

#ContentPlaceHolder1_submitCourseButton{
    margin-bottom:30px;
}
